* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("l.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}
nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: #89502c;
  opacity: 0.8;
}

nav ul li {
  list-style: none;
  margin-left: 40px;
  display: inline-block;
  justify-content: space-between;
}
nav ul li a {
  font-size: 17px;
  text-decoration: none;
  color: #ffde75;
}
.content {
  text-align: center;
  position: relative;
  top: 100px;
  width: 100%;
  height: 100vh;
}
.back-video {
  object-fit: cover;
  position: absolute;
  /*width: 100%;
  height: 100%;*/
}
h1,
h2 {
  color: #ffde75;
  text-align: center;
  background-color: #5f332b;
  margin: 0 auto;
  padding: 20px;
  opacity: 0.9;
}

.content {
  width: 70%;
  margin: 0 auto;
  padding: 0 20px;
}
ul {
  padding-top: 20px;
  padding-bottom: 20px;
}
ul li {
  list-style: none;
}
img {
  width: 20%;
  margin: 0 auto;
  padding: 8px;
  display: block;
}
.info {
  font-size: 41%;
  text-align: center;
  position: absolute;
  top: auto;
}
.info ul li {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
}
.email {
  font-size: 50%;
  position: absolute;
  left: 65%;
  top: 35%;
  text-align: center;
}
.email a {
  display: block;
  max-width: 100%;
}
p {
  font-size: 20px;
  background-color: #89502c;
  opacity: 0.8;
  margin: 0 auto;
  padding: 20px;
}
span {
  font-weight: bold;
}
.education,
.experience,
.hobby {
  background-color: #89502c;
  opacity: 0.8;
}
button {
  color: white;
  background-color: #89502c;
  padding: 10px 20px;
  margin: 10px;
  border-color: transparent;
  border-radius: 30px;
  transition: all 25 linear;
  box-shadow: 3px 2px 2px #ffde75;
}
footer {
  padding: 10px;
  font-size: 10px;
  font-weight: bold;
}
